* {
    margin:0px;
    padding:0px;
    font-size:14px;
    -webkit-text-size-adjust: 100%;
}
body {
    font-size:14px;
    color:#333333;
    line-height: 20px;
}
a {
    text-decoration: none;
}
ul {
    margin:0;
    padding:0;
    list-style-type: none;
    display: block;
}
li {
    display: list-item;
}
.model{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.3);
}

.model .notice{
    z-index: 100px;
    width: 300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    border-radius: 5px;
    max-width: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    background-color: #fff;
    opacity: 1;
    animation: show 1s;
    height:100px;
    text-align: center;
    font-size:16px;
    line-height:100px;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bk-header {
    float: left;
    background: #393939;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 3000;
    border-left: 1px solid transparent;
}
.logo {
    float:left;
    height:50px;
    width: 139px;
    line-height: 50px;
    text-align: center;
    font-size:large;
}
.menu {
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 0px 20px;
    background: #4C4C4C;
    vertical-align: top;
}
.menu img {
    height:auto;
    max-width:100%;
    vertical-align: middle;
}
.bk-header nav {
    display:block;
    padding-left:20px;
    overflow: hidden;
    height: 50px;
    float: left;
}
.header nav ul {
    overflow:hidden;
}
li.selected {
    background: #126AE4;
}
nav ul li{
    float:left;
    width:55px;
    height:50px;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
}
nav ul li:hover {
    background-color:#126AE4;
}
.tool {
    float:right;
}
.bk-header .close{
    cursor: pointer;
    background: url(../images/tool.png) no-repeat;
    background-position: -77px;
    display:inline-block;
    width:20px;
    height:20px;
    vertical-align: middle;
}
.tool a {
    color:#fff;

}
.tool .close a {
    display: block;
    width:100px;
    height:20px;
    line-height: 20px;
}
.tool .bar {
    border-left: 1px solid #ffffff;
    vertical-align: middle;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 0 10px 0 10px;
}
.user {
    position:relative;
    display: inline-block;
    padding-right:30px;
    cursor: pointer;
}
.user img{
    width:30px;
    height:auto;
    max-width: 100%;
    vertical-align: middle;
}
.change {
    position:absolute;
    right:-10px;
    width:220px;
    font-size:16px;
    background: #ffffff;
    box-shadow: 0px 0px 10px #999;
    color:#126ae4;
}
.change i {
    padding-left:20px;
}
.change span a{
    padding-left:20px;
    color:#126ae4;
    font-size:16px;
}
.admin-aside {
    display: block;
    background: #E1E6F0;
    float: left;
    width: 139px;
    position: fixed;
    top: 0;
    height: 100%;
    border-right: 1px solid #c3cad9;
    z-index: 100;
    /* overflow: scroll; */
}

.admin-aside .admin-nav h3{
    height:40px;
    line-height:40px;
    margin:50px 0 0;
    background: #fff;
    font-size: 14px;
    font-weight: normal;
    text-indent: 15px;
}
.admin-aside .admin-nav i {
    float:right;
    line-height: 40px;
    color: #999;
    margin-right: 15px;
    /* display: inline-block; */
}
.admin-nav nav{
    margin-top:15px;
}
.admin-nav nav li.selected {
    background-color: #C4CDE0;
    color: #126AE4;
}
.admin-nav ul li{
    width:120px;
    height: 40px;
    line-height: 40px;
    text-indent: -20px;
    cursor: pointer;
    overflow: hidden;
    margin: 0 6px 0 10px;
    font-size: 12px;
}
.add-section {
    background:#fff;
    display: block;
    margin:50px 0 0 139px;
}
.add-section .notice {
    text-indent: 20px;
    background-color: #fff;
    height:40px;
    width: 100%;
    line-height:40px;
    border-bottom: 1px solid #e5e5e5;
}
.add-section .main{
    background-color: #fff;
    min-height:600px;
    margin: 10px;
}
.add-section .main form{
    padding:10px;
    border:1px solid #e5e5e5;
    background:#f2f6fc;
    max-width:80%;
    min-height: 600px;
}
.add-section .main form legend{
    font-size:18px;
    padding-bottom:5px;
    margin-bottom:10px;
    border-bottom:2px solid #e5e5e5;
}
label {
    max-width: 20%;
    cursor: pointer;
    margin:5px;
    display: block;
}
input{
    width:35%;
    height:25px;
    display: inline-block;
}
#index-rate,#index-term,#index-normal-price,#index-discount-price{
    width:24%;
}
.add-section .main form span{
    font-size:12px;
    color:#ff0000;
}
.main form input{
    color:#757575;
}
.add-section .main form .add-btn,.back-btn{
    cursor: pointer;
    margin-top:10px;
    width:60px;
    height: 30px;
    background-color: #126ae4;
    color:#fff;
    border-radius: 5px;
    font-size:13px;
    border: 1px solid #e5e5e5;
    border-bottom:2px solid black ;
    border-right:1px solid black;
}